html {
    width: 100%;
}
.body {
    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    background-image: url(img/img1.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-self: center;
}

.nav__list__link--decoration {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

.header__h1 {
    font-size: 400%;
    margin-bottom: -1%;
}